[Desktop Entry]
Name=bspwm
Comment=Binary space partitioning window manager
Exec=bspwm -c /home/zephan/.config/lybspwm/bspwm/bspwmrc
Type=Application
